<div class="col-sm-6 col-md-4 col-md-offset-4 view-animate-login">
    <h1 class="text-center login-title">Sign in to continue to Cocktail Academy</h1>
    <div class="account-wall">
        <img class="profile-img" src="assets/img/logo.jpg?sz=240" alt="Cocktail Academy logo">
        <form class="form-panel" name="form" ng-submit="vm.login()" role="form">
            <input type="text" class="form-control" placeholder="Username" name="username" ng-model="vm.username" required autofocus>
            <input type="password" class="form-control" placeholder="Password" name="password" ng-model="vm.password" required>
            <p class="notification">{{message}}</p>
            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-block btn-lg btn-primary">Login</button>
            <label class="checkbox pull-left">
                <input type="checkbox" value="remember-me">
                Remember me
            </label>
            <a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span>
        </form>
    </div>
</div>